<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat_bot</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="info">
        {% for info in infos%}
            <span>{{info}}</span>
        {% endfor %}
    </div>

    <form action="." method="post">
        <input type="text" name="name">
        <button>enviar</button>
    </form>
</body>
</html>