<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI bot</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <main class="flex column center">
        {% if state == "login" %}
            <section class="login flex column center">
                <h1>Login</h1>
                <form action="." method="post" class="flex column">
                    <input type="text" name="name" required placeholder="Usuário">
                    <input type="password" name="password" required placeholder="Senha">
                    <button>enviar</button>
                    <span style="font-style: italic;">{{msg}}</span>
                </form>
            </section>
        {% else %}
            <section class="login flex column center">
                <h1>Register</h1>
                <form action="/register" method="post" class="flex column">
                    <input type="text" name="name" required placeholder="Usuário">
                    <input type="password" name="password" required placeholder="Senha">
                    <button>enviar</button>
                    <span style="font-style: italic;">{{msg}}</span>
                </form>
            </section>
        {% endif %}
        <footer class="flex row center">
            <div class="info">
                {% for info in infos%}
                <span>{{info}}</span>
                {% endfor %}
            </div>
        </footer>
    </main>
</body>

</html>