<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat_bot</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <main class="flex column center">
        <section class="login flex column center">
            <h1>Login</h1>
            <form action="." method="post" class="flex column">
                <input type="text" name="name" required placeholder="Usuário">
                <input type="password" name="password" required placeholder="Senha">
                <button>enviar</button>
            </form>
        </section>
        <footer class="flex row center">
            <div class="info">
                {% for info in infos%}
                <span>{{info}}</span>
                {% endfor %}
            </div>
        </footer>
    </main>
</body>

</html>